{% load static %}
<html>
<head>
<title>Email Sentiment Analysis System</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
 <script LANGUAGE="Javascript" >
function validate(){
	var y=document.forms["f1"]["t2"].value;
	
	
	if(y == null || y==""){
		window.alert("Email text must be enter");
		document.f1.t2.focus();
		return false;
	}
	return true;
}
		
	
	</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Email Sentiment Analysis System</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
	  <li><a href="{% url 'SingleEmail' %}">Sentiment Single Email</a></li>
	  <li><a href="{% url 'MultiEmail' %}">Sentiment Email Folder</a></li>
	  <li><a href="{% url 'Compose' %}">Compose Email</a></li>
	   <li><a href="{% url 'ViewEmail' %}">View Email</a></li>
	   <li><a href="{% url 'index' %}">Logout</a></li>		
		</center></ul>
<br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>	
			<center>
<form name="f1" method="post" action={% url 'ComposeAction' %} OnSubmit="return validate()">
	{% csrf_token %}<br/>
   <h3><b>Compose Email Screen</b></h3>
   
	<font size="" color="black"><center>{{ data|safe }}</center></font>
						
						<table align="center" width="80" >
			 {{ data1|safe }}
         
		  
		<tr><td><font size="" color="black">Email&nbsp;Text</b></td><td><textarea name="t2" cols="80" rows="20"></textarea></td></tr>

		
		 
			<tr><td></td><td><input type="submit" value="Submit">
			</td>
			</table>
			<br/><br/><br/><br/>
				</div>	
					
				</div>
				
	</body>
</html>